.archive {
    position: relative;
    a {
        &:hover {
            text-decoration: none;
        }
    }
    .pagination {
        grid-gap: 8px;
        grid-column: span 3;
        flex-wrap: wrap;
        margin: 0 auto;
        // padding:0 0 48px 0;
        // @media (max-width: $desktop) {
        //     padding: 0 0 32px 0;
        // }
        @media (max-width: $tabletSmall) {
            grid-column: span 1;
        }
        button {
            color: black;
            background-color: white !important;
            outline: none !important;
            box-shadow: none !important;
            border: none !important;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .articles-wrapper {
        min-height: 650px;
        position: relative;
        z-index: 1;
        #articles-container {
            padding: 48px 32px;
            display: grid;
            margin: 0 auto;
            width: 100%;
            position: relative;
            grid-gap: 96px 48px;
            max-width: 1364px;
            overflow: hidden;
            grid-template-columns: repeat(3, 1fr);
            @media (max-width: $desktop) {
                padding: 32px;
            }
            @media (max-width: $tabletSmall) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: $mobileLarge) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
    .article {  
        color: white;
        display: flex;
        position: relative;
        overflow: hidden;
        opacity: 1;
        @media (max-width: $tabletLarge) {
            width: 100%;
        }
        div {
            width: 100%;
        }
        img { 
            // background-color: lavender;
            width: 100%;
            height: 533px;
            object-fit: cover;
  
            @media (max-width: $desktop) {
                height: 372px;
            }
            @media (max-width: $tabletLarge) {
                height: 274px;
            }
            @media (max-width: $tabletSmall) {
                height: 400px;
            }
        }
        .subtitle2 {
            margin: 24px 0 0 0;
            color: black;
        }
        &__img {
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0); /* Transparent initially */
                transition: 0.3s ease;
                @media (max-width: $tabletLarge) {
                    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
                }
            }
            &__hover {
                position: absolute;
                opacity: 0;
                transition: ease .3s;
                margin: 0 auto;
                width: fit-content !important;
                z-index: 3;
                display: flex;
                align-items: center;
                justify-content: center; 
                flex-direction: column;
                padding: 16px;
                @media (max-width: $tabletLarge) {
                    opacity: 1;
                }
                h3 {
                    color: white !important;
                    margin: 0 0 14px;
                    text-align: center;
                }
                button {
                    background-color: transparent;
                }
            }
        }
        &:hover {
            ::after {
                background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
            }
            .article__img__hover {
                bottom: unset;
                transition: ease .3s;
                opacity: 1;
            }
            button {
                border-color: $offwhite;
                color: $offwhite;
            }
        }
        a {
            width: 100%;
            &:hover {
                text-decoration: none;
            }
        }
      
    }
    // blogs
    &__blogs {
        // dropdown
        .dropdown {
            margin: 96px 0 0 0;
            @media(max-width: $tabletLarge) { 
                margin: 64px 0 0 0;
            }
            @media(max-width: $tabletSmall) { 
                margin: 48px 0 0 0;
            }
        } 
        &__hero {
            background-color: black;
            color: white;
            h1 {
                margin: 0 0 81px 0;
            }
            h2 {
                margin: 0 0 16px 0;
                color: $operations;
            }
            button {
                margin: 0 0 65px 0;
            }
            // featured slider 
            &__slider {
                position: relative;
                overflow: hidden;
                width: 100%;
                margin: 64px 0 64px 0;
                // max-width: 882px;
                color: white;
                @media(max-width: $tabletSmall) { 
                    margin: 32px 0 32px 0;
                }
                &__item {
                    @media(max-width: $desktop) { 
                        margin: 32px 0 32px 0;
                    }
                    a {
                        color: white;
                        display: flex;
                        flex-direction: row;
                        grid-gap: 50px;
                        width: 100%;
                        &:hover {
                            text-decoration: none;
                        }
                        @media(max-width: $tabletSmall) { 
                            flex-direction: column;
                        }
                    }
                    img {
                        width: 530px;
                        height: 315px;
                        object-fit: cover;
                        @media(max-width: $desktop) { 
                            width: 311px;
                            height: 299px;
                        }
                        @media(max-width: $tabletLarge) { 
                            width: 276px;
                            height: 269px;
                        }
                        @media(max-width: $tabletSmall) { 
                            height: 200px;
                            width: 100%;
                        }
                    }
                    .text {
                        width: 50%;
                        @media(max-width: $tabletSmall) { 
                            width: 100%;
                        }
                        h3 {
                            margin: 0 0 32px 0;
                        }
                        p {
                            margin: 0 0 32px 0;
                        }
                    }
                }
                .slick-list {
                    padding: 0 !important;
                    .slick-track {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .slick-dots-container {
                    bottom: 3px;
                    left: 580px;
                    right: unset;
                    @media(max-width: $desktop) { 
                        left: 361px;
                        height: 0;
                        bottom: 43px;
                    }
                    @media(max-width: $tabletLarge) { 
                        left: 326px;
                    }
                    @media(max-width: $tabletSmall) { 
                        left: 0;
                        right: 0;
                    }
                    .slick-dots {
                        position: relative;
                        button {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    // casestudies
    &__case-studies {
        &__header {
            z-index: 1;
            background-color: black;
            color: white;
            margin: 0 0 -356px 0;
            padding: 0 0 356px 0;
            position: relative;
            @media(max-width: $desktop) { 
                margin: 0 0 0px 0;
                padding: 0 0 0px 0;
            }
            @media(max-width: $tabletLarge) { 
                margin: 0 0 -0px 0;
                padding: 0 0 0px 0;
            }
            @media(max-width: $tabletSmall) { 
                margin: 0 0 -0px 0;
                padding: 0 0 0px 0;
            }
            .bg-image {
                transition: 0.3s ease;
                z-index: -1;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
                position: absolute;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .overlay {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity as needed */
                pointer-events: none; /* Allows clicking through the overlay to the content underneath */
            }
            .container {
                z-index: 2;
                @media(max-width: $desktop) { 
                    justify-content: center;
                    align-items: center;
                } 
            }
            h1 {
                margin: 60px 0 81px 0;
                @media(max-width: $desktop) { 
                    margin: 135px 0 64px 0;
                } 
                @media(max-width: $tabletLarge) { 
                    margin: 72px 0 96px 0;
                }
                @media(max-width: $tabletSmall) { 
                    margin: 72px 0 72px 0;
                }
            }
            h2 {
                margin: 0 0 16px 0;
                color: $operations;
            }
            button {
                margin: 0 0 65px 0;
            }
            // featured slider
            &__slider {
                position: relative;
                // overflow: hidden;
                width: 100%;
                margin: 0px 0 64px 0;
                max-width: 882px;
                img {
                    display: none;
                }
                @media(max-width: $desktop) { 
                    max-width: 691px;
                    text-align: center;
                    padding: 0 0 42px 0;
                    margin: 16px 0 72px 0;
                    button {
                        margin: 0 auto !important;
                        display: block;
                    }
                }
                @media(max-width: $tabletLarge) { 
                    margin: 8px 0 64px 0;
                    padding: 0 0 34px 0;
                }
                h3 {
                    margin: 0 0 32px 0;
                    @media(max-width: $desktop) { 
                        text-align: center;
                    }
                    @media(max-width: $tabletLarge) { 
                        font-size: 28px;
                        margin: 0 0 24px 0;
                        line-height: normal;
                    }
                }
                p {
                    margin: 0 0 32px 0;
                    @media(max-width: $desktop) { 
                        text-align: center;
                    }
                }
                button {
                    margin: 0 0 0 0;
                }
                .slick-list {
                    padding: 0 !important;
                    .slick-track {
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                    }
                }
                .slick-dots-container {
                    left: unset;
                    top: 48px;
                    z-index: 2000;
                    @media(max-width: $desktop) { 
                        top: unset;
                        bottom: 3px;
                        left: 0;
                    }
                }
            }
        }
        &__filter {
            position: relative;
            z-index: 2;
            color: white;
            .container {
                @media(max-width: $tabletSmall) {
                    flex-direction: column !important;
                }
            }
            @media(max-width: $desktop) { 
                padding: 32px 0 0 0;
                .dropdown__filter {
                    background-color: white !important;
                    border: 1px solid $darksmoke !important;
                    color: black !important;
                    svg {
                        path {
                            stroke: black !important;
                        }
                    }
                }
                .dropdown__options {
                    &__items {
                        background-color: white !important;
                        border-color: black !important;
                        color: black !important;
                        div {
                            border-color: black !important;
                        }
                    }
                }
                h2 {
                    margin: 0 0 16px 0;
                    color: black;
                }
            }
        }
    }
} 