.footer {
    background-color: black;
    width: 100%;
    color: white;
    @include padding;
    .container {
        &:nth-child(2){
            margin: 40px auto 32px auto;
            @media (max-width: $tabletSmall) {
                margin: 32px auto 24px auto;
            }
        }
    }
    // columns
    &__columns {
        display: flex;
        justify-content: space-between;
        @media (max-width: $tabletSmall) {
            flex-wrap: wrap;
            max-width: 284px;
            margin: 0 auto;
            grid-row-gap: 22px;
            grid-column-gap: 42px;
            display: grid;
            grid-template: 
                "a b" auto
                "c d" auto
                "e e" auto
                / 1fr 1fr;
                }
        img {
            max-height: 123px;
            object-fit: contain;
            @media (max-width: $tabletSmall) {
                max-height: 100px;
                grid-area: a;
            }
        }
        nav {
            &:nth-child(1){
                @media (max-width: $tabletSmall) {
                    grid-area: b;
                }
            }
            &:nth-child(2){
                @media (max-width: $tabletSmall) {
                    grid-area: c;
                }
            }
            &:nth-child(3){
                @media (max-width: $tabletSmall) {
                    grid-area: d;
                }
            }
            .footer-links {
                width: min-content;
                ul {
                    display: flex;
                    flex-direction: column;
                    width: max-content;
                    a {
                        color: white;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                    }
                }
            }
        }
        &__logos {
            display: flex;
            grid-gap: 24px;
            a {
                width: fit-content;
            }
            img {
                max-height: 50px;
                object-fit: contain;
            }
            @media (max-width: $tabletLarge) {
                flex-direction: column;
                align-items: center;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: $tabletSmall) {
                flex-direction: row;
                grid-gap: 16px;
                display: flex;
                grid-area: e;
                margin: 10px auto 8px auto;
            }
        }
        &__location {
            @media (max-width: $tabletSmall) {
                flex: 1 0 45%; 
            }
            max-width: 150px;
            p {
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
            }
        }
    }
    // socials
    &__socials {
        display: flex;
        grid-gap: 72px;
        @media (max-width: $tabletLarge) {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            grid-row-gap: 32px;
        }
        @media (max-width: $tabletSmall) {
            flex-direction: column;
            grid-row-gap: 18px;
        }
        a {
            color: white;
        }
        &__contact {
            display: flex;
            grid-gap: 24px;
            align-items: center;
            justify-content: center;
            &__icon {
                background-color: lavender;
                width: 20px;
                height: 20px;
            }
        }

        &__icons {
            display: flex;
            grid-gap: 72px;
            @media (max-width: $tabletSmall) {
                grid-gap: 12px;
            }
            img { 
                height: 30px;
                max-width: 30px;
                object-fit: contain;
                @media (max-width: $mobileLarge) {
                    height: 20px;
                    max-width: 20px;
                }
            }
        } 
    }
    // copyright
    &__copyright {
        margin: 32px 0 0 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        color: #ABABAB;
        text-align: center;
    }
}