// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// other 
@import 'variables';
@import 'archive';
@import 'single-case-studies';
@import 'single-blogs';
@import 'four04'; 
@import 'header'; 
@import 'footer'; 
@import 'services-page'; 

// blocks scss
@import 'blocks/case-studies';
@import 'blocks/slider-clients';
@import 'blocks/photography';
@import 'blocks/related-projects';
@import 'blocks/services';
@import 'blocks/testimonials';
@import 'blocks/testimonials-projects'; 
@import 'blocks/stats'; 
@import 'blocks/hero-case-studies'; 
@import 'blocks/banner'; 
@import 'blocks/images-text'; 
@import 'blocks/videography'; 
@import 'blocks/text'; 
@import 'blocks/embed'; 
@import 'blocks/cta'; 
@import 'blocks/hero'; 
@import 'blocks/tabs'; 
@import 'blocks/dropdown-text'; 
@import 'blocks/contact-form'; 
@import 'blocks/other-services'; 
@import 'blocks/list'; 
@import 'blocks/video-gallery'; 
@import 'thank-you'; 

body {
    margin: 0;
    padding: 0;
}

// font css
h1,h2,h3,h4,h5,h6,p,a,span,li {
    font-family: Poppins;
    margin: 0;
}
h1 {
    font-size: 100px;
    font-weight: 300;
    // line-height: 150px;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    @media (max-width: $desktop) { 
        font-size: 75px;
    }
    @media (max-width: $tabletLarge) { 
        font-size: 50px;
    }
    @media (max-width: $tabletSmall) { 
        font-size: 28px;
    }
}
h2 {
    font-size: 75px;
    font-weight: 300;
    letter-spacing: 0em;
    line-height: normal;
    text-align: left;
    @media (max-width: $desktop) { 
        font-size: 50px;
    }
    @media (max-width: $tabletLarge) { 
        font-size: 28px;
    }
    @media (max-width: $mobileLarge) { 
        font-size: 28px;
    }
}
h3 {
    font-size: 50px;
    font-weight: 300;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
}
.h3 {
    font-size: 50px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;
    @media (max-width: $desktop) { 
        font-size: 28px;
    }
    @media (max-width: $tabletLarge) { 
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.subtitle1 {
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    @media (max-width: $tabletLarge) { 
        font-size: 22px;
    }
    @media (max-width: $mobileLarge) { 
        font-size: 16px;
    }
}
.subtitle2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    @media (max-width: $tabletLarge) { 
        font-size: 16px;
        line-height: normal;
    }
}
.subtitle3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.body1 {
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    @media (max-width: $tabletLarge) { 
        font-size: 16px;
    }
}
.body2, p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.body3 {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.body4 {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}
.button {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

// wizywig
.wizywig {
    display: flex;
    flex-direction: column;
    grid-gap: 24px; 
    h3 {
        font-size: 16px;
    }
    @media (max-width: $tabletSmall) {
        grid-gap: 16px; 
    }
    ul {
        padding-inline-start: 20px;
    }   
}
// read more 
.read-more {
    margin: 24px 0 0 0;
    position: relative;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
        cursor: pointer;
        font-weight: 500;
    }
}

.cap-height {
    .wizywig {
        max-height: 210px;
        overflow: hidden;
        position: relative;
        transition: ease-in-out 0.3s;
    }
}

// btns
.anim-pulse  { 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    &-production {
        &::after {
            background-color: $production !important;
        }
    }
    &-design {
        &::after {
            background-color: $design !important;
        }
    }
    &-marketing {
        &::after {
            background-color: $marketing !important;
        }
    }
    &-development {
        &::after {
            background-color: $development !important;
        }
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $operations; /* Transparent initially */
        border-radius: 8px;
        opacity: 1;
        z-index: 1; /* Lower z-index to sit behind the button */
    }
    .btn-primary, .btn-secondary {
        z-index: 2;
        position: relative;
    } 
    &:hover {
        text-decoration: none;
        &::after {
            width: calc(100% + 32px);
            height: calc(100% + 32px);
            transition: .8s ease;
            opacity: 0;
        }
    }
}
.btn-primary {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    padding: 8px 24px 8px 24px;
    border-radius: 8px; 
    background-color: white;
    color: $darksmoke;
    border: 1px solid $darksmoke;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: .2s;
    &:focus {
        box-shadow: 0 0 0 0 $offwhite;
        background-color: $darksmoke !important;
        border-color: $offwhite!important;
        outline: none;
    }
    &:hover {
        border: 1px solid $offwhite;
        background-color: $darksmoke;
        color: white;
        transition: .2s;
        text-decoration: none !important;
    }
} 
.btn-secondary {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    position: relative;
    padding: 8px 24px 8px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $offwhite;
    background-color: $darksmoke;
    transition: .2s;
    &:focus {
        box-shadow: 0 0 0 0 $darksmoke;
        background-color: $offwhite !important;
        border-color: $darksmoke !important;
        outline: none;
    }
    &:hover {
        border: 1px solid $darksmoke;
        background-color: $offwhite;
        transition: .2s;
        color: $darksmoke;
    }
}
.btn-transparent {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    position: relative;
    padding: 8px 24px 8px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $offwhite;
    background-color: transparent;
    transition: .2s;
    color: $offwhite;
    &:focus {
        box-shadow: 0 0 0 0 $darksmoke;
        background-color: $offwhite !important;
        border-color: $darksmoke !important;
        outline: none;
    }
    &:hover {
        border: 1px solid $darksmoke;
        background-color: $offwhite;
        transition: .2s;
        color: $darksmoke;
        text-decoration: none;
    }
}
.btn-alt {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    &:hover {
        color: $operations;
    }
}

// dropdowns
.dropdown {
    width: -webkit-fit-content;
    width: fit-content;
    position: relative;
    &.dark {
        .dropdown__filter {
            background-color: black;
            border-color: white;
            svg {
                path {
                    stroke: white;
                }
            }
        }
        .dropdown__options {
            &__items {
                background-color: black;
                border-color: white;
                color: white;
                div {
                    border-color: white;
                }
            }
        }
    }
    &__filter {
        background-color: white;
        padding: 8px 24px;
        width: -webkit-fit-content;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-gap: 24px;
        border: 1px solid $darksmoke;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 8px;
        min-width: 200px;
        font-family: Poppins;
        svg {
            transition: ease .2s;
        }
        &:hover {
            cursor: pointer;
        }
        &.open {
            svg {
                transform: scale(-1);
                transition: ease .2s;
            }
        }
    }
    &__options {
        max-height: 0;
        transition: ease 0.4s;
        overflow: hidden;
        width: 100%;
        position: absolute;
        z-index: 3;
        &.active {
            max-height: 1000px;
            transition: ease 0.4s;
            .dropdown__options__items {
                opacity: 1;
                transition: ease 0.4s;
            }
        }
        &__items {
            background-color: white;
            padding: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            grid-gap: 12px;
            border: 1px solid $darksmoke;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            font-family: Poppins;
            line-height: normal;
            border-radius: 8px;
            width: 100%;
            margin: 8px 0 0 0;
            overflow: hidden;
            opacity: 0;
            transition: ease 0.4s;
            div {
                border-bottom: 1px solid $darksmoke;
                padding: 0 0 12px 0;
                width: 100%;
                white-space: wrap;
                &:hover {
                    cursor: pointer;
                    font-weight: 600;
                }
                &:last-child {
                    border-bottom: 0px solid $darksmoke;
                    padding: 0 0 0px 0;
                }
            }
        }
    }
}

// other css
.container {
    padding: 0 32px;
    max-width: 1364px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    &.overflow-visible {
        overflow: visible;
    }
    &.fdc { 
        flex-direction: column;
    }
    &.fdr { 
        flex-direction: row;
    }
    &.jcsb {
        justify-content: space-between;
    }
    &.jcfs {
        justify-content: flex-start;
    }
    &.jcfe {
        justify-content: flex-end;
    }
    &.aifs {
        align-items: flex-start;
    }
    &.aife {
        align-items: flex-end;
    }
    &.aic {
        align-items: center;
    }
    &.center {
        align-items: center;
        justify-content: center;
    }
    &.no-wrap {
        flex-wrap: nowrap;
    }
}

// videoplayer 
.videoplayer-buttons {
    position: absolute;
    .PauseButton {
        display: none;
    }
    .PlayButton, .PauseButton {
        &:hover {
            cursor: pointer;
        }
    }
} 
// slider dots
.slick-dots-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    & .my-next {
        display: inline-block;
        width: 9px;
        height: 9px;
        border-left: 2px solid rgba(185, 185, 185, 1);
        border-bottom: 2px solid rgba(185, 185, 185, 1);;
        transform: rotate(225deg) translateY(-1px);
        margin-left: 12px;
        &:hover {
            cursor: pointer;
            border-left: 3px solid $operations;
            border-bottom: 3px solid $operations;
        }
    }
    & .my-prev { 
        display: inline-block;
        width: 9px;
        height: 9px;
        border-left: 2px solid rgba(185, 185, 185, 1);;
        border-bottom: 2px solid rgba(185, 185, 185, 1);;
        transform: rotate(45deg) translateY(1px);
        margin-right: 12px;
        &:hover {
            cursor: pointer;
            border-left: 3px solid $operations;
            border-bottom: 3px solid $operations;
        }
    }
}
.slick-dots {
    display: flex;
    list-style: none;
    position: relative;
    padding: 0px;
    margin: 0 auto;
    list-style-type: none;
    grid-gap: 7px;
    align-items: center;
    justify-content: center;
    transform: translateY(1px);
    li {
        &.slick-active {
            button {
                background-color: $operations;

            }
        }
        &:focus {
            outline: none;
        }
        button {
            background-color: rgba(185, 185, 185, 1);
            border: none;
            display: block;
            padding: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            text-indent: -9999px;
            &:focus {
                outline: none;
            }
        }
    }
}

