//// colors
// departments
$development: #6610f2;
$marketing: #f0b400;
$design: #e5007e;
$production: #F00;
$operations: rgba(0, 170, 255, 1);
$store: rgba(2, 194, 41, 1);
// primary
$darksmoke: rgba(18, 18, 18, 1);
$darksmokelight: rgba(16, 25, 13, 1);
$darksmokelightest: rgba(69, 69, 69, 1);
$offwhite: rgba(248, 248, 248, 1);

//// variables 
$mobileSmall: 320px;
$mobileLarge: 430px;
$tabletSmall: 768px;
$tabletLarge: 1024px;
$desktop: 1400px;

// keyframes
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

@mixin padding {
    padding: 48px 0;
    @media (max-width: $desktop) {
        padding: 32px 0;
    }
}
@mixin margin {
    margin: 48px 0;
    @media (max-width: $desktop) {
        margin: 32px 0;
    }
}