.banner {
    @include margin;
    padding: 72px;
    width: 100%;
    position: relative;
    background-color: black;
    color: white;
    @media (max-width: $desktop) {
        padding: 64px 0;
    }
    @media (max-width: $tabletLarge) {
        padding: 48px 0;
    }
    &.no-columns {
        .banner__text {
            column-count: 1;
        }
    }
    &.text-right {
        background-color: white;
        padding: 0 72px;
        @media (max-width: $desktop) {
            background-color: black;
            padding: 64px 0;
        }
        @media (max-width: $tabletLarge) {
            padding: 48px 0;
        } 
        &::before {
            content: '';
            position: absolute;
            left: 0;
            background-color: black;
            height: 100%;
            width: 50%;
            top: 0;
        }
        .container {
            justify-content: space-between;
            grid-gap: 82px;
            max-width: 1364px;
            flex-direction: row;
            padding: 72px 80px 72px 32px ;
            background-color: black;
            border-radius: 8px;
            @media (max-width: $desktop) {
                flex-direction: column;
                grid-gap: 32px;
                padding: 0 32px;
            }
        }
        .banner__text {
            max-width: 585px;
            width: calc(50% - 41px);
            @media (max-width: $desktop) {
                max-width: unset;
                width: 100%;
            }
        }
        .banner__title {
            max-width: 616px;
            width: calc(50% - 41px);
            @media (max-width: $desktop) {
                max-width: unset;
                width: 100%;
                a {
                    display: none;
                    button {
                        &:focus {
                            background-color: $darksmoke !important;
                        }
                    }
                }
                .h3 {
                    margin: 0;
                }
            }
        }
        .btn-mobile {
            display: none;
            @media (max-width: $desktop) {
                display: block;
            } 
        }
    }
    .container {
        max-width: 1028px;
        
    }
    &__title {
        h2 {
            margin: 0 0 16px 0;
            position: relative;
            span {
                background-color: black;
                position: relative;
                z-index: 1;
            }
        }
        a {
            margin: 32px 0 0 0;
            button {
                &:hover {
                    background-color: $darksmoke;
                    color: white;
                }
            }
        }
    }
    &__text {
        column-count: 2; /* Number of columns */
        column-gap: 48px; /* Space between columns */
        width: 100%; /* Adjust the width as necessary */
        margin: auto; /* For centering, if desired */
        a {
            text-decoration: underline;
            color: white;
        }
        @media (max-width: $tabletSmall) {
            column-count: 1;
        }
    }
}