.dropdown-text {
    @include padding;
    .dropdown {
        margin: 48px 0 0 0;
        a {
            color: black;
            &:hover {
                text-decoration: none
            }
        }
    }
    &__text {
        @include padding;
        display: flex;
        grid-gap: 64px;
        flex-direction: column;
        @media (max-width: $tabletLarge) { 
            grid-gap: 32px;
        }
        h2 {
            margin: 0 0 24px 0;
        }
    }
}