.hero-case-studies {
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    img {
        object-fit: cover;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8); /* Black with 50% opacity */
        z-index: 1;
    }
    .container {
        z-index: 1;
        @media (max-width: $desktop) {
            align-items: center;
            justify-content: center;
            h2 {
                text-align: center;
            }
        }
    }
    video {
        object-fit: cover;
    }
    // slider 
    &__slider {  
        position: relative;
        overflow: hidden;
        width: 100%; 
        margin: 0 0 0 0;
        display: none;
        padding-bottom: 42px;
        @media (max-width: $tabletSmall) {
            display: block;
        }
        .slick-dots-container {
            bottom: 3px;
        }
        img {
            object-fit: cover;
            height: 449px;
            border-radius: 8px;
            @media (max-width: $mobileLarge) {
                height: 367px;
            }
        }
        video {
            object-fit: cover;
            height: 449px;
            border-radius: 8px;
            @media (max-width: $mobileLarge) {
                height: 367px;
            }
        }
        .slick-list {
            padding: 0 !important;
            .slick-track {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    } 
    // divider
    &__divider {
        z-index: 1;
        position: relative;
        // overflow: hidden;
        @media (max-width: $desktop) {
            height: 100%;
            padding: 72px 0 32px 0;
        }
        .divider {
            background-color: white;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            height: calc(100% - 248px);
            padding-bottom: 48px;
            @media (max-width: $desktop) {
                height: 100%;
            }
        }
    }
    // title
    .title {
        padding: 128px 32px;
        @media (max-width: $tabletLarge) {
            padding: 128px 32px 96px;
        }
        @media (max-width: $tabletSmall) {
            padding: 96px 32px;
        }
        h1 {
            margin:  0 0 32px 0;
            text-align: center;
            font-weight: 500;
            span {
                font-weight: 300;
            }
        }
        p {
            max-width: 882px;
            text-align: center;
        }
    }
    // list 
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 32px 0 72px 0;
        padding: 0;
        grid-row-gap: 16px;
        @media (max-width: $desktop) {
            align-items: center;
            justify-content: center;
        }
        li {
            margin: 0 16px ;
        }
    }
    // subetext
    .svg-shift {
        svg {
            left: -418px;
        }
    }
    &__subtext {
        position: relative;
        display: flex;
        width: 100%;
        color: black;
        padding-left: 16px;
        margin: 48px 0 0 418px;
        @media (max-width: $desktop) {
            margin: 64px auto 0 auto;
            padding: 0;
            align-items: center;
            justify-content: center;
        }
        @media (max-width: $tabletLarge) {
            margin: 48px auto 0 auto;
        }

        svg {
            position: absolute;
            left: -318px;
            top: -48px;
            height: 135px;
            width: 410px;
            @media (max-width: $desktop) {
                display: none;
             }
        }
        div {
            max-width: 720px;
            align-self: flex-end;
        }
        h4 { 
            margin: 0 0 32px 0;
        }
        p {
            margin: 0 0 32px 0 ;
            background-color: white;
            z-index: 1;
            position: relative;
        }
        button {
            display: block;
        }
    }


    // // media options
    // image text
    &__media {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        justify-content: flex-start; 
        padding: 0 32px;
        max-width: 1364px;
        margin: 0 auto;
        width: 100%;
        position: relative;
        // image stats
        .image-stats {
            display: flex;
            width: 100%;
            @media (max-width: $desktop) {
               flex-direction: column;
               align-items: center;
               justify-content: center;
            }
            &__images {
                display: flex;
                margin: 0 32px 0 0;
                @media (max-width: $desktop) {
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-gap: 32px;
                    margin: 0 auto 0 auto;
                    width: 100%;
                    max-width: 960px;
                }
                @media (max-width: $tabletSmall) {
                    display: none;
                }
                img {
                    height: 470px;
                    width: 321px;
                    max-width: 321px;
                    border-radius: 8px;
                    object-fit: cover;
                    &:nth-child(1) {
                        margin: 0 32px 0 0;
                        @media (max-width: $desktop) {
                            margin: 0 0 0 0;
                        }
                    }
                    @media (max-width: $desktop) {
                        width: 100%;
                        max-width: unset;
                        height: 580px;
                    }
                    @media (max-width: $tabletLarge) {
                        height: 479px;
                    }
                }
                &__mobile {
                    width: 100%;  
                    display: none;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    @media (max-width: $tabletSmall) {
                        display: flex; 
                    }
                }
            }
            &__stats {
                display: flex;
                grid-gap: 32px;
                flex-wrap: wrap;
                grid-template-columns: repeat(2,auto);
                margin: auto 0 0;
                @media (max-width: $desktop) {
                    margin: 24px 0 0 0;
                    grid-gap: 8px;
                }
                @media (max-width: $tabletLarge) {
                    display: none;
                }
                div {
                    padding: 16px 64px;
                    background-color: $offwhite;
                    border-radius: 8px;
                    align-items: start;
                    justify-items: start;
                    @media (max-width: $desktop) {
                        padding: 16px 48px;
                    }
                    .subtitle1 {
                        color: $operations;
                        margin: 0 0 4px 0;
                        text-align: center;
                        width: 100%;
                    }
                    .body2 {
                        color: black;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
        // image double
        .image-double {
            width: 100%;
            &__media {
                display: grid;
                grid-gap: 32px;
                grid-template-columns: repeat(2, auto);
                @media (max-width: $desktop) {
                    display: none;
                }
                img {
                    height: 470px;
                    width: 100%;
                    border-radius: 8px;
                    object-fit: cover;
                    @media (max-width: $desktop) {
                        height: 580px;
                    }
                    @media (max-width: $tabletLarge) {
                        height: 479px;
                    }
                }
            }
        }
        // image large
        .image-large {
            display: flex;
            width: 100%;
            img {
                height: 470px;
                background-color: lavender;
                width: 100%;
                border-radius: 8px;
            }
        }
        // image small
        .image-small {
            display: flex;
            width: 100%;
            img {
                height: 478px;
                max-width: 336px;
                background-color: lavender;
                width: 100%;
                border-radius: 8px;
                @media (max-width: $desktop) {
                    max-width: unset;
                }
            }
        }
        // image triple
        .image-triple {
            width: 100%;
            &__media {
                display: grid;
                grid-gap: 32px;
                grid-template-columns: repeat(3, auto);
                @media (max-width: $tabletLarge) {
                    display: none;
                }
                img {
                    height: 532px;
                    width: 100%;
                    border-radius: 8px;
                    object-fit: cover;
                    @media (max-width: $desktop) {
                        height: 415px;
                    }
                    @media (max-width: $tabletLarge) {
                        height: 317px;
                    }
                }
            }
        }
        // image video
        .image-video {
            display: flex;
            width: 100%;
            &__media {
                display: grid;
                grid-gap: 32px;
                grid-template-columns: repeat(2, auto);
                @media (max-width: $tabletSmall) {
                    display: none;
                }
                img {
                    height: 470px;
                    width: 321px;
                    max-width: 321px;
                    border-radius: 8px;
                    object-fit: cover;
                }
                video { 
                    height: 468px;
                    background-color: lavender;
                    width: 100%;
                    border-radius: 8px;
                }
            }
        }
        // video
        .video {
            display: flex;
            width: 100%;
            &__media {
                display: flex;
                width: 100%;
                video {
                    height: 685px;
                    background-color: lavender;
                    width: 100%;
                    @media (max-width: $desktop) {
                        height: 580px;
                    }
                    @media (max-width: $tabletLarge) {
                        height: 479px;
                    }
                    @media (max-width: $tabletSmall) {
                        height: 350px;
                    }
                }
            }
        }
    }
}