.hero {
    img {
        object-fit: cover;
    }
    // text image
    .text-image {
        @include padding;
        position: relative;
        background-color: black;
        color: white;
        overflow: hidden;
        h1 {
            margin: 0 0 64px 0;
        }
        .container {
            flex-wrap: nowrap;
            overflow: visible;
            grid-gap: 48px;
        }
        img {
            width: 100%;
            max-height: 624px;
            min-width: 100%;
            @media (max-width: $desktop) {
                display: none;
            }
        }
        .wizywig {
            width: 50%;
            min-width: 650px;
            @media (max-width: $desktop) {
                width: 100%;
                min-width: unset;
            }
        }
    }
    // video
    .hero-video {
        background-color: black;
        color: white;
        width: 100%;

        &__video {
            height: 850px;
            width: 100%;
            display: flex;
            @media (max-width: $desktop) {
                height: 435px;
            }
            @media (max-width: $tabletLarge) {
                height: 326px;
            }
            @media (max-width: $tabletSmall) {
                height: 183px;
            }
            @media (max-width: $mobileLarge) {
                height: 136px;
            }
            video {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &__text {
            @include padding;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            @media (max-width: $tabletSmall) {
               flex-direction: column;
               grid-gap: 24px;
               align-items: center;
               justify-content: center;
            }
            button {
                width: max-content;
            }
            & > div {
                width: 100%;
                @media (max-width: $tabletSmall) {
                    flex-direction: column;
                    display: flex;
                    grid-gap: 24px;
                    align-items: center;
                    justify-content: center;
                 }
                 h1 {
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 300;
                    @media (max-width: $desktop) {
                        font-size: 43px;
                        line-height: normal;
                    }
                    @media (max-width: $tabletLarge) {
                        font-size: 27px;
                        line-height: normal;
                    }
                    @media (max-width: $tabletSmall) {
                        font-size: 24px;
                        text-align: center;
                     }
           
                    span {
                        &:nth-child(1) {
                            font-style: italic;
                            font-weight: 275;
                        }
                        &:nth-child(2) {
                            font-weight: 600; 
                        }
                    }
                }
                p {
                    margin: 0 0 16px 0;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 300;
                    @media (max-width: $tabletLarge) {
                        font-size: 18px;
                        line-height: normal;
                    }
                    @media (max-width: $tabletSmall) {
                        text-align: center;
                        font-size: 16px;
                     }
                }
            }
 
            &__logos {
                display: flex;
                grid-gap: 32px;
                width: 100%;
                flex-wrap: wrap;
                @media (max-width: $tabletSmall) {
                    align-items: center;
                    justify-content: center;
                 }
                img {
                    height: 100%;
                    max-height: 40px;
                    object-fit: contain;
                }
            }
        }
    }
    // video play
    .video-play {
        background-color: black;
        color: white;
        width: 100%;
        &__video {
            height: 850px;
            width: 100%;
            display: flex;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: $desktop) {
                height: 435px;
            }
            @media (max-width: $tabletLarge) {
                height: 326px;
            }
            @media (max-width: $tabletSmall) {
                height: 183px;
            }
            @media (max-width: $mobileLarge) {
                height: 136px;
            }
            video {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &__text {
            background-color: $darksmoke;
            @include padding;
            &__title {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                grid-gap: 32px;
                padding: 0 0 65px 0;
                @media (max-width: $tabletLarge) {
                    flex-direction: column;
                }
                h1 {
                    font-size: 75px;
                    font-style: normal;
                    font-weight: 300;
                    width: 50%;
                    @media (max-width: $desktop) {
                        font-size: 50px;
                    }
                    @media (max-width: $tabletLarge) {
                        font-size: 28px;
                        width: 100%;
                        text-align: center;
                    }
                }
                p {
                    width: 50%;
                    @media (max-width: $tabletLarge) {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            &__logos {
                background-color: grey;
                padding: 87px 0 55px 0;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                position: relative;
                border-radius: 8px;
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.75);
                    z-index: 1;
                    border-radius: 8px;
                }
                h2 {
                    margin: 0 0 32px 0;
                    z-index: 2;
                    font-family: Poppins;
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    @media (max-width: $tabletLarge) {
                        font-size: 28px;
                    }
                }
                &__wrapper {
                    display: flex;
                    grid-gap: 91px;
                    z-index: 2;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    @media (max-width: $tabletSmall) {
                        grid-gap: 32px;
                    }
                    img {
                        height: 100%;
                        max-height: 140px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
    // lst image
    .list-image {
        @include padding;
        background-color: black;
        color: white;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        a {
            &:hover {
                text-decoration: none;
            }
            .anim-pulse {
                &:after {
                    z-index: -1;
                }
                &:hover {
                    background-color: $darksmoke;
                    color: white;
                }
            }
        }
        .container {
            overflow: visible;
        }
        &::after {
            content: "";
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.8;
            z-index: 2;
        }
        h1 {
            padding: 0 0 16px 0;
            margin: 0 0 48px 0;
            width: 100%;
            z-index: 3;
            border-bottom: 1px solid white;
            @media (max-width: $desktop) {
                border-bottom: 0px solid white;
                text-align: center;
            }
        }
        &__content {
            display: flex;
            justify-content: space-between;
            width: 100%;
            z-index: 3;
            @media (max-width: $desktop) {
                align-items: center;
                justify-content: center;
            }
            img {
                height: 556px;
                width: 324px;
                @media (max-width: $desktop) {
                    display: none;
                }
            }
            button {
                margin: 32px 0 0 0;
            }
        }
        &__wrapper {
            max-width: 664px;
            width: 100%;
            @media (max-width: $desktop) {
                margin: 0 auto;
                button {
                    margin: 32px auto 0;
                    display: flex
                }
                .wizywig {
                    margin: 16px 0 0 0;
                    p {
                        text-align: center;
                    }
                }
            }
            .wizywig {
                margin: 48px 0 0 0;
                @media (max-width: $desktop) { 
                    margin: 32px 0 0 0;
                }
            }
        }
        &__list {
            display: flex;
            grid-gap: 48px;
            @media (max-width: $tabletSmall) {
                display: none;
            }
            &__slider {
                position: relative;
                overflow: hidden;
                width: 100%;
                margin: 0 0 0 0;
                padding-bottom: 42px;
                display: none;
                @media (max-width: $tabletSmall) {
                    display: block;
                }
                .slick-dots-container {  
                    bottom: 3px;
                }
                .slick-list {
                    padding: 0 !important;
                    .slick-track {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            &__item {
                h2 {
                    margin: 0 0 16px 0;
                    @media (max-width: $desktop) {
                        text-align: center;
                    }
                }
                ul {
                    grid-gap: 24px;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    @media (max-width: $desktop) {
                        align-items: center;
                        li {
                            width: fit-content;
                        }
                    }
                }
            }
        }
    }
    .hero-basic {
        background-color: black;
        padding: 96px 0 72px 0;
        color: white;
        position: relative;
        overflow: visible;

        &::after {
            content: "";
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.8;
            z-index: 2;
        }
        a {
            &:hover {
                text-decoration: none;
            }
            .anim-pulse {
                &:after {
                    z-index: -1;
                }
                &:hover {
                    background-color: $darksmoke;
                    color: white;
                }
            }
        }

        &__buttons {
            z-index: 3;
            display: flex;
            grid-gap: 32px;
            a {
                position: relative;
                overflow: hidden;
                border-radius: 8px;
                button {
                    height: 56px;
                }
                span {
                    position: absolute;
                    height: 4px;
                    width: 100%;
                    bottom: 0px;
                    background-color: $operations;
                    z-index: 2;
                }
            }
            @media (max-width: $tabletSmall) { 
               display: none;
            }
        }
        img {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
        .container {
            overflow: visible;
        }
        .subtitle1 {
            z-index: 3;
            width: fit-content;
            border-bottom: 4px solid transparent;
            @media (max-width: $tabletSmall) { 
                text-align: center;
                margin: 0 auto;
            }
        }
        h1 {
            z-index: 3;
            @media (max-width: $tabletSmall) { 
                text-align: center;
            }
        }
        h3 {
            z-index: 3;
            margin: 32px 0 32px 0;
            @media (max-width: $desktop) { 
                display: none;
            }
        }
        .wizywig {
            margin: 32px 0;
            max-width: 800px;
            z-index: 3;
            width: 100%;
            @media (max-width: $tabletSmall) { 
                margin: 16px 0;
                p {
                    text-align: center;
                }
            }
        }
        a {
            z-index: 3;
            button {
                @media (max-width: $tabletSmall) { 
                    margin: 0 auto;
                    display: flex;
                }
            }
        }
    }
} 