.images-text {
    @include padding;
    // images offset
    img {
        object-fit: cover;
    }
    .images-offset {
        p {
            max-width: 712px;
            margin: 96px 0 0 0;
        }
        .title {
            display: flex;
            h2 {
                margin: 0 0 64px 0;
            }
            p {
                margin: 33px 12px 0 0;
            }
        }
        &__images {
            display: grid;
            grid-gap: 32px;
            grid-template-columns: repeat(2, 1fr);
            img {
                &.image-1 {
                    width: 712px;
                    height: 720px;
                    flex-shrink: 0;
                }
                &.image-2 {
                    width: 566px;
                    height: 725px;
                    flex-shrink: 0;
                    transform: translateY(181px);
                }
            }
        }
    }
    // image left right
    .image-left-right{
        .title {
            display: flex;
            h2 {
                margin: 0 0 32px 0;
            }
            p {
                 margin: 33px 12px 0 0;
            }
        }
        &__content{
            display: flex;
            grid-gap: 64px;
            justify-content: center;
            align-items: center;
            img {
                max-height: 1000px;
            }
            &__text {
                max-width: 581px;
            }
        } 
    }
    // image single
    .image-single {
        .title {
            display: flex;
            h2 {
                margin: 0 0 32px 0;
            }
            p {
                 margin: 33px 12px 0 0;
            }
        }
        &__text {
            margin: 0 0 32px 0;
        }
        &__images {
            img {
                margin: 32px 0 0px 0;
                width: 100%;
                object-fit: contain;
            }
        }
        .col-three {
            column-count: 3; /* Number of columns */
            column-gap: 48px; /* Space between columns */
            width: 100%; /* Adjust the width as necessary */
            margin: auto; /* For centering, if desired */
        }
        .col-four {
            column-count: 4; /* Number of columns */
            column-gap: 48px; /* Space between columns */
            width: 100%; /* Adjust the width as necessary */
            margin: auto; /* For centering, if desired */
        }
        .subtext {
            margin: 48px auto auto auto;
        }
    }
    // images triple offset
    .image-triple-offset {
        &__title {
            .title {
                display: flex;
                h2 {
                    margin: 0 0 32px 0;
                }
                p {
                     margin: 33px 12px 0 0;
                }
            }
            > p {
                margin: 0 0 48px 0;
            }
        }
        &__images {
            display: grid;
            grid-gap: 32px;
            grid-template-columns: repeat(2, auto);
            &__column {
                display: flex;
                flex-direction: column;
                img {
                    width: 100%;
                }
                &:nth-child(1) {
                    img {
                        margin: 0 0 32px 0;
                    }
                }
                &:nth-child(2) {
                    img {
                        margin: 0 0 32px 0;
                    }
                }
            }
        }
    }
    // image triple
    .text-triple-image {
        position: relative;
        .title {
            display: flex;
            h2 {
                margin: 0 0 32px 0;
            }
            p {
                 margin: 33px 12px 0 0;
            }
        }
        p {
            max-width: 453px ;
        }
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            &__images {
                width: 796px;
                height: 770px;
                position: relative;
                align-self: flex-end;
                img {
                    position: absolute;
                    border-radius: 8px;
                }
                .image-1 {
                    top: 126px;
                    left: 0;
                    width: 312px;
                    height: 448px;
                    z-index: 1;
                }
                .image-2 {
                    top: 0;
                    right: 184px;
                    width: 347px;
                    height: 501px;
                }
                .image-3 {
                    bottom: 0;
                    right: 0;
                    width: 270px;
                    height: 400px;
                }
            }
        }
    }
    // text columns 
    .image-steps {
        position: relative;
        .title {
            display: flex;
            h2 {
                margin: 0 0 32px 0;
            }
            p {
                 margin: 33px 12px 0 0;
            }
        }
        &__steps {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 32px;
            &__item {
                img {
                    width: 100%;
                    height: 420px;
                    position: relative;
                    z-index: 1;
                }
                p {
                    margin: 0 0 16px 0;
                }
                &:nth-child(3n) {
                    margin: 65% 0 0 0;
                }
            }
        }
        svg {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    // ants columns
    .ants-columns {
        .title {
            display: flex;
            position: relative;
            h2 {
                margin: 0 0 48px 0;
            }
            p {
                 margin: 33px 12px 0 0;
            }
            svg {
                position: absolute;
                right: 0;
                bottom: 33px;
            }
        }
        &__text {
            column-count: 3; /* Number of columns */
            column-gap: 32px; /* Space between columns */
            width: 100%; /* Adjust the width as necessary */
            margin: auto; /* For centering, if desired */
            margin: 0 0 32px 0;
        }
        img {
            margin: 32px auto 0 auto;
            width: 100%;
            object-fit: contain;
            max-width: 1188px;
        }
        &__subtext {
            position: relative;
            svg {
                position: absolute;
                right: 64px;
                top: 37px;
            }
            &__wrapper {
                max-width: 776px;
                position: relative;
                margin: 48px auto auto 0;
                column-count: 2; /* Number of columns */
                column-gap: 32px; /* Space between columns */
                width: 100%; /* Adjust the width as necessary */
            }
        }
    }
    // image overlap 
    .image-overlap {
        .title {
            display: flex;
            position: relative;
            h2 {
                margin: 0 0 64px 0;
            }
            p {
                 margin: 33px 12px 0 0;
                 z-index: 1;
                 background-color: white;
            }
        }
        img {
            width: 100%;
        }
        &__text {
            max-width: 673px;
            margin-top: -33%;
            z-index: 1;
            background-color: white;
        }
    }

    // // branding 
    // layout one 
    .layout-one {
        .title {
            display: flex;
            h2 {
                margin: 0 0 32px 0;
            }
            p {
                 margin: 33px 12px 0 0;
            }
        }
        &__text {
            margin: 0 0 32px 0;
        }
        img { 
            margin: 32px 0 0px 0;
            width: 100%;
            object-fit: contain;
        }
        &__colors {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-gap: 8px;
            max-width: 1000px;
            width: 100%;
            &__wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__item {
                border-radius: 4px;
                height: 56px;
                width: 100%;
                background-color: blue;
            }
        } 
    }
    // layout two 
    .layout-two {
        .title {
            display: flex;
            position: relative;
            h2 {
                margin: 0 0 64px 0;
                z-index: 1;
                background-color: white;
            }
            p {
                 margin: 33px 12px 0 0;
                 z-index: 1;
                 background-color: white;
            }
            svg {
                position: absolute;
                bottom: 32px;
                right: 0;
            }
        }
        &__text {
            column-count: 3; /* Number of columns */
            column-gap: 32px; /* Space between columns */
            width: 100%; /* Adjust the width as necessary */
            margin: auto; /* For centering, if desired */
            margin: 0 0 64px 0;
        }
        &__images {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 29px;
            max-width: 100%;
            img {
                width: 100%;
            }
            &__left {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                grid-gap: 29px;
            }
            &__right {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                grid-gap: 29px;
            }
        }
        &__colors {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-gap: 8px;
            max-width: 1000px;
            width: 100%;
            &__wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__item {
                border-radius: 4px;
                height: 56px;
                width: 100%;
                background-color: blue;
            }
        } 
    }
    // layout three
    .layout-three {
        .title {
            display: flex;
            position: relative;
            h2 {
                margin: 0 0 32px 0;
                z-index: 1;
                background-color: white;
            }
            p {
                 margin: 33px 12px 0 0;
                 z-index: 1;
                 background-color: white;
            }
            svg {
                position: absolute;
                bottom: 32px;
                right: 0;
            }
        }
        &__text {
            margin: 0 0 64px 0;
        }
        &__images {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 32px;
            max-width: 100%;
            img {
                width: 100%;
            }
            &__left {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                grid-gap: 32px;
                overflow: hidden;
                img {
                    height: 100%;
                }
                &__colors {
                    display: flex;
                    grid-gap: 29px;
                    overflow: hidden;
                    height: 385px;
                    .colors {
                        display: flex;
                        grid-gap: 18px;
                        flex-direction: column;
                        width: 100%;
                        &__wrapper {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        &__item {
                            border-radius: 4px;
                            height: 83px; 
                            width: 147px;
                            background-color: blue;
                        }
                    } 
                }
            }
            &__right {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                grid-gap: 32px;
            }
        }
    }
}