.other-services {
    background-color: black;
    @include padding;
    margin: 48px 0;
    @media (max-width: $desktop) {
        margin: 32px 0;
    }
    color: white;
    h2 {
        margin: 0 0 32px 0;
        @media (max-width: $desktop) {
           text-align: center;
        }
    }
    .wizywig {
        margin: 0 0 64px 0;
        max-width: 748px;
        @media (max-width: $desktop) {
            margin: 0 auto 64px auto;
            p {
                text-align: center;
            }
        }
        @media (max-width: $tabletSmall) {
            margin: 0 auto 32px auto;
        }
    }
    img {
        object-fit: cover;
    }
    &__wrapper {
        display: flex;
        grid-gap: 32px;
        width: 100%;
        position: relative;
    }
    // current tab image
    &__service {
        @media (max-width: $desktop) {
            display: none;
        }
        &:hover {
            cursor: pointer;
            button {
                background-color: white;
                color: black;
            }
        }
        div {
            align-items: center;
            justify-content: center;
            position: relative;
            display: flex;
            width: 297px;
            height: 311px;
            &::after {
                content: "";
                background-size: cover;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                z-index: 2;
                border-radius: 8px;
            }
            button {
                position: absolute;
                right: 0;
                left: 0;
                margin: auto;
                width: fit-content;
                top: 0;
                bottom: 0;
                height: min-content;
                z-index: 3;
                background-color: transparent;
          
            }
            img {
                width: 100%;
                height: 100%;
                border-radius: 8px;
                z-index: 1;
            }
        }
    }
    // tabs
    &__sub {
        display: flex;
        flex-direction: column;
        grid-gap: 32px;
        width: calc(100% - 329px);
        overflow: hidden;
        @media (max-width: $tabletSmall) {
            grid-gap: 48px;
        }
        @media (max-width: $desktop) {
            width: 100%;
        }
        // tab buttons
        &__buttons {
            display: flex;
            grid-gap: 16px;
            @media (max-width: $desktop) {
                align-items: center;
                justify-content: center;
            }
            @media (max-width: $tabletSmall) {
                display: none;
            }
            button {
                outline: none;
                border: none;
                background-color: transparent;
                color: white;
                bottom: 0;
                padding: 0;
                border-bottom: none;
                margin-bottom: 3px;
                position: relative;
                padding: 0 0  4px 0;
                font-weight: 400;
                span {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    max-width: 0;
                    width: 100%;
                    height: 3px;
                    background-color: $operations;
                    transition: ease .4s;
                }
                &:hover {
                    cursor: pointer;
                }
                &.active {
                    position: relative;
                    span {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        max-width: 100%;
                        width: 100%;
                        height: 3px;
                        background-color: $operations;
                        transition: ease .4s;
                    }
                }
            }
        }
        &__dropdown {
            display: none;
            margin: 0 auto;
            color: black;
            @media (max-width: $tabletSmall) {
                display: block;
            }
            #category-dropdown {
                div {
                    color: black;
                }
            }
        }
        // tab content
        &__items {
            display: grid; 
            grid-template-columns: repeat( 4, 1fr);
            grid-gap: 16px;
            width: 100%;
            @media (max-width: $desktop) {
                display: none !important;
            }
            &--slider {
                display: block; 
                grid-template-columns: none;
                grid-gap: 0px;
                position: relative;
                overflow: hidden;
                width: 100%;
                margin: 0 0 0 0;
                padding-bottom: 48px;
                // transform: translateX(16px);
                @media (max-width: $desktop) {
                    max-width: 674px;
                    margin: 0 auto;
                }
                &.active {
                    @media (max-width: $desktop) {
                        display: block !important;
                    }
                }
                .slick-dots {  
                    bottom: -42px
                }
                .slick-track {
                    grid-gap: 0px !important;
                    flex-direction: row;
                    @media (max-width: $tabletSmall) {
                        // grid-gap: 16px;
                    }
                }
                .slick-list {
                    padding: 0 !important;
                    .slick-track {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .slick-slide {
                    img {
                        width: 100%;
                        height: 125px;
                        border-radius: 8px;
                        width: 230px;
                        // margin: 0 16px;
                    }
                }
            }
            &__slider {
                position: relative;
                overflow: hidden;
                width: 100%;
                margin: 0 0 0 0;
                padding-bottom: 42px;
                display: none !important;
                @media (max-width: $desktop) {
                    max-width: 674px;
                    margin: 0 auto;
                }
                &.active {
                    @media (max-width: $desktop) {
                        display: block !important;
                    }
                }
                .slick-dots {  
                    bottom: -32px
                }
                .slick-track {
                    grid-gap: 32px;
                    @media (max-width: $tabletSmall) {
                        grid-gap: 16px;
                    }
                }
                .slick-list {
                    padding: 0 !important;
                    .slick-track {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .slick-slide {
                    img {
                        width: 100%;
                        height: 125px;
                        border-radius: 8px;
                    }
                    button {
                        margin: 0 auto;
                    }
                    p {
                        margin: 16px 0;
                        text-align: center;
                    }
                }
            }
            a {
                color: white;
                &:hover {
                    color: white;
                    text-decoration: none;
                }
            }
            &__hover {
                display: flex;
                grid-gap: 24px;
                flex-direction: column;
                &:hover {
                    button {
                        color: white;
                        background-color: $darksmoke;
                        border-color: white;
                    }
                }
                button {
                    width: fit-content;
                }
                img {
                    width: 100%;
                    height: 125px;
                    border-radius: 8px;
                }
            }
        }
    }


}