.photography {
    @include padding;
    .title {
        display: flex;
        h2 {
            margin: 0 0 32px 0;
        }
        p {
             margin: 33px 12px 0 0;
        }
    }
    p {
        margin: 0 0 64px 0;
        @media (max-width: $tabletLarge) {
            margin: 0 0 48px 0;
        }
    }
    // slider
    &__slider {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 0 0 0 0;
        padding-bottom: 42px;
        display: none;
        @media (max-width: $desktop) {
            display: block;
        }
     
        .slick-dots {
            bottom: 0;
        }
        img {
            object-fit: cover;
            height: 1248px;
            border-radius: 8px;
            @media (max-width: $desktop) {
                height: 1248px;
            }
            @media (max-width: $tabletLarge) {
                height: 900px;
            }
            @media (max-width: $tabletSmall) {
                height: 557px;
            }
            @media (max-width: $mobileLarge) {
                height: 406px;
            }
        }
        .slick-list {
            padding: 0 !important;
            .slick-track {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    } 
    // options
    &.images-center {
        .columns-three, .columns-two {
            justify-content: center; /* Center grid items horizontally */
            align-items: start; 
            display: flex;
            flex-wrap: wrap;
            img {
                flex: 0 1 calc(33.333% - 21.5px); 
                box-sizing: border-box; 
                min-width: 0;
            }
        }
        .title {
            text-align: center;
            justify-content: center;
            @media (max-width: $desktop) {
                text-align: left;
                justify-content: flex-start;
            }
        }
        .container > p {
            text-align: center;
            max-width: 881px;
            margin: 0 auto 64px auto;
        }
    }
    // columns two
    .columns-two {
        display: grid;
        width: 100%;
        position: relative;
        grid-gap: 32px;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: $desktop) {
            display: none !important;
        }
        img {
            height: 820px;
            object-fit: cover;
            width: 100%;
            border-radius: 8px;
        }
    }
    // columns three
    .columns-three {
        display: grid;
        width: 100%;
        position: relative;
        grid-gap: 32px;
        grid-template-columns: repeat(3, 1fr);
        @media (max-width: $desktop) {
            display: none !important;
        }
        img {
            height: 620px;
            object-fit: cover;
            width: 100%;
            border-radius: 8px;
        }
    }
    // columns three
    .abstract {
        display: flex;
        width: 100%;
        position: relative;
        flex-wrap: wrap;
        height: 1702px;
        @media (max-width: $desktop) {
            display: none !important;
        }
        img {
            height: 819px;
            object-fit: cover;
            width: 50%;
            border-radius: 8px;
            position: absolute;
            @media (max-width: $desktop) {
                position: relative;
            }
            &:nth-child(1) {
                left: 72px;
                top: 0;
                z-index: 3;
            }
            &:nth-child(2) {
                top: 392px;
                right: 72px;
                z-index: 2;
            }
            &:nth-child(3) {
                left: 187px;
                bottom: 0;
                z-index: 1;
            }
        }
    }
}