.services {
    @include padding;
    background-color: black;
    color: white;
    width: 100%;
    a {
        &:hover {
            h2,li {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    h2 {
        span {
            background-color: white;
            width: 10px;
            height: 10px;
            display: inline-block;
            margin-left: 8px;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid white;
        padding: 16px 0;
        width: 100%;
        div {
            display: flex;
            grid-gap: 48px;
            width: 100%;
            @media (max-width: $tabletSmall) { 
                flex-direction: column;
                grid-gap: 10px;
            }
            ul {
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: flex-start;
                margin: 0;
                padding: 0;
                flex-wrap: wrap;
                grid-gap: 8px;
                @media (max-width: $tabletSmall) { 
                    justify-content: flex-start;
                }
                a {
                    color: white;
                    font-weight: 300;
                }
            }
        }
    }
}