.tabs {
    @include padding;
    &__buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 0 64px 0;
        height: 100%;
        @media (max-width: $desktop) {
            margin: 0 0 48px 0;
        }
        @media (max-width: $tabletLarge) {
            margin: 0 0 32px 0;
        }
        &.grid-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        &:has(button:nth-child(4)) {
            button {
                &:nth-child(-n+3) {
                    border-bottom-left-radius: 0 !important;
                    border-bottom-right-radius: 0 !important;
                }
                &:nth-last-child(-n+3) {
                    border-top-left-radius: 0 !important;
                    border-top-right-radius: 0 !important;
                }
            }
        }
        button {
            background-color: white;
            border: 1px solid $darksmoke;
            padding: 10px 0;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            height: fit-content;
            &:hover {
                background-color: $darksmoke;
                color: white;
                transition: 0.2s;
            }
            &:nth-child(3n-2){
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
            &:nth-child(3n){
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
            &:last-child {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
            // // first three 
            // &:nth-child(-n+3) {
            //     border-bottom-left-radius: 0 !important;
            //     border-bottom-right-radius: 0 !important;
            // }
            // // last three
            // :nth-last-child(-n+3) {
            //     border-top-left-radius: 0 !important;
            //     border-top-right-radius: 0 !important;
            // }
            &:focus {
                outline: none !important;
            }
            &.active {
                background-color: $darksmoke;
                color: $offwhite;
            }
        }
    }
    &__content {
        &__item {
            img {
                width: 100%;
                height: 622px;
                // background-color: lavender;
                margin: 0 0 48px 0;
                object-fit: cover;
                @media (max-width: $desktop) {
                    // height: 457px;
                    height: 407px;
                }
                @media (max-width: $tabletLarge) {
                    // height: 360px;
                    height: 310px;
                    margin: 0 0 32px 0;
                }
                @media (max-width: $tabletSmall) {
                    // height: 366px;
                    height: 316px;
                }
                @media (max-width: $mobileLarge) {
                    // height: 250px;
                    height: 200px;
                }
            }
            h3 {
                margin: 0 0 16px 0;
            }
            .wizywig {
                column-count: 3; 
                column-gap: 48px; 
                width: 100%; 
                display: block;
                margin: auto;
                @media (max-width: $tabletSmall) {
                    column-count: 1; 
                }
                p {
                    width: 100%; 
                    margin: auto;
                }
            }
        }
    }
}