.tabs {
    @include padding;
    &__buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 0 64px 0;
        height: 100%;
        @media (max-width: $desktop) {
            margin: 0 0 48px 0;
        }
        @media (max-width: $tabletLarge) {
            margin: 0 0 32px 0;
        }
        &.grid-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        button {
            background-color: white;
            border: 1px solid $darksmoke;
            padding: 10px 0;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            height: fit-content;
            &:nth-child(3n-2){
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
            &:nth-child(3n){
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
            &:last-child {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
            &:focus {
                outline: none !important;
            }
            &.active {
                background-color: $darksmoke;
                color: $offwhite;
            }
        }
    }
    &__content {
        &__item {
            img {
                width: 100%;
                height: 622px;
                // background-color: lavender;
                margin: 0 0 48px 0;
                object-fit: cover;
                @media (max-width: $desktop) {
                    height: 457px;
                }
                @media (max-width: $tabletLarge) {
                    height: 360px;
                    margin: 0 0 32px 0;
                }
                @media (max-width: $tabletSmall) {
                    height: 366px;
                }
                @media (max-width: $mobileLarge) {
                    height: 250px;
                }
            }
            h3 {
                margin: 0 0 16px 0;
            }
            p {
                column-count: 3; 
                column-gap: 48px; 
                width: 100%; 
                margin: auto;
                @media (max-width: $tabletSmall) {
                    column-count: 1; 
                }
            }
        }
    }
}