.testimonials {
    @include padding;
    h2 {
        margin: 0 0 38px 0;
        @media (max-width: $desktop) {
            margin: 0 0 32px 0;
        }
        @media (max-width: $tabletSmall) {
            text-align: center;
        }
    }
    &__buttons {
        display: flex;
        grid-gap: 64px;
        flex-wrap: wrap;
        align-self: flex-end;
        margin: 0 0 54px 0;
        @media (max-width: $desktop) {
            align-self: flex-start;
        }
        @media (max-width: $tabletSmall) {
            display: none;
        }
        div {
            padding: 0 0 16px 0;
            &:hover {
                cursor: pointer;
            }
            &.active {
                border-bottom: 6px solid $operations;
            }
            img {
                // background-color: lavender;
                max-width: 175px;
                height: 39px;
                object-fit: contain;
                @media (max-width: $desktop) {
                    height: 30px;
                    max-width: 130px;
                }
            }
        }
    }
    &__tabs {
        display: block;
        &.desk {
            @media (max-width: $tabletSmall) {
                display: none; 
            }
        }
        &__item {
            display: flex;
            flex-direction: row;
            grid-gap: 42px;
            @media (max-width: $tabletSmall) {
                display: block !important;
            }
            &__text {
                width: 100%;
                h3 {
                    margin: 0 0 32px;
                    @media (max-width: $tabletSmall) {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        margin: 0 0 24px;
                        text-align: center;
                    }
                }
                .subtitle3  {
                    margin: 24px 0 72px 0;
                    font-weight: 700;
                    @media (max-width: $tabletSmall) {
                        font-size: 12px;
                        margin: 24px 0 24px 0;
                    }
                }
            }
            img {
                max-width: 476px;
                height: 434px;
                width: 100%;
                object-fit: cover;
                border-radius: 8px;
                background-color: lavender;
                @media (max-width: $desktop) {
                    max-width: 357px;
                }
                @media (max-width: $tabletLarge) {
                    display: none;
                }
            }
        }
        &__slider {
            position: relative;
            overflow: hidden;
            width: 100%;
            margin: 0 0 0 0;
            padding-bottom: 42px;
            display: none;
            @media (max-width: $tabletSmall) {
                display: block;
            }
            @media (max-width: $desktop) {
                max-width: 674px;
                margin: 0 auto;
            }
            .slick-dots {  
                bottom: -32px
            }
            .slick-track {
                grid-gap: 32px;
                @media (max-width: $tabletSmall) {
                    grid-gap: 16px;
                }
            }
            .slick-list {
                padding: 0 !important;
                .slick-track {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .slick-slide {
                img {
                    width: 100%;
                    height: 125px;
                    border-radius: 8px;
                }
                button {
                    margin: 0 auto;
                }
                p {
                    // margin: 16px 0;
                    text-align: center;
                }
            }
        }
    }
}